outputs/*
.vscode/*
__pycache__/*
__pycache__/
*.pyc
data/*
debug.sh
debug.py
*.slurm
*.out
*.png
*.pth
*.pt
utils/pointnet_lib/pointnet2.egg-info
utils/pointnet_lib/dist
utils/pointnet_lib/build
ztosave/
Depth-Anything-V2/
data
ztest/
third_party/TAPIP3D/third_party/pointnet_lib/pointnet2.egg-info
third_party/TAPIP3D/third_party/pointnet_lib/dist
third_party/TAPIP3D/third_party/pointnet_lib/build
third_party/TAPIP3D/third_party/pointops2/pointops2.egg-info
third_party/TAPIP3D/third_party/pointops2/build
third_party/TAPIP3D/third_party/pointops2/dist